[package]
name = "user_rust_toolchain"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[lib]
path = "src/lib.rs"

[[bin]]
name = "rust-toolchain"
path = "src/main.rs"
test = false
bench = false
